<div class="mdui-drawer mdui-drawer-close" id="main-drawer">
    <ul class="mdui-list">
        <a href="add" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">library_add</i>
            <div class="mdui-list-item-content">商品入库</div>
        </a>
        <a href="query" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">format_list_numbered</i>
            <div class="mdui-list-item-content">商品查询</div>
        </a>
        <a href="update" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">border_color</i>
            <div class="mdui-list-item-content">信息修改</div>
        </a>
        <a href="sell" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">shopping_cart</i>
            <div class="mdui-list-item-content">商品销售</div>
        </a>
        <a href="login" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">backspace</i>
            <div class="mdui-list-item-content">注销用户</div>
        </a>

    </ul>
</div>